/dts-v1/;
/plugin/;

/ {
	model = "Samsung GTS9UWIFI PROJECT (board-id,00)";
	compatible = "qcom,kalama-mtp", "qcom,kalama", "qcom,mtp";
	qcom,msm-id = <0x218 0x20000>, <0x207 0x20000>,
			<0x207 0x10000>, <0x218 0x10000>;
	qcom,board-id = <0x10008 0x0>;
	dtbo-hw_rev = <0x0>;
	dtbo-hw_rev_end = <0x2>;

	fragment@0 {
		target-path = "/";

		__overlay__ {
			postmarketos,noop;
		};
	};
};
